.help-image,
.help-image1,
.help-image2 {
  display: block; /* Робимо зображення блоковими елементами */
  max-width: 95%; /* Максимальна ширина - майже на весь екран */
  max-height: 250vh; /* Максимальна висота - майже на весь екран */
  width: 100%;
  height: 100%;
  margin: auto; /* Центруємо по горизонталі і додаємо відступи між зображеннями */
  object-fit: contain; /* Забезпечуємо, що зображення повністю видно */
}